.example-card {
    width: 660px;
    height: 700px;
  }
  mat-card
  {
      margin: 2%;
  }
  mat-card img{
    object-fit: cover;
    width: 70%;
    height: 70%;
    padding-left: 20%;
  }
  .description {
      font: 1em sans-serif;
      font-size:medium;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 2px 2px 2px 2px rgb(212, 19, 19), 
                2px 2px 2px 2px rgba(212, 19, 19), 
                2px 2px 2px 2px rgba(212, 19, 19);
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 20px;
  }

  .cardListItem {
    flex: 0 1 calc(30% - 20px);
  }
  .price
  {
    font-size: medium;
    font-weight: bold; 
  }
